body {
    font-family: Arial, sans-serif;
    background-image: url('8270321.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    color: #f1ca47;
    text-shadow: 3px 2px 1px rgb(113, 113, 113);
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: #ec7e39;
    color: #ffffff;
    text-transform: uppercase;
}

table tr {
    background-color: #f9f9f9;
}

table tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e9e9e9;
}

p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    table {
        font-size: 16px;
    }

    table th, table td {
        padding: 10px 12px;
    }
}
